<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginr</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" id="login-username" name="username" placeholder="Username" required>

            <input type="password" id="login-password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>
        <p id="login-error-message" class="error-message"></p>
        <div class="switch-to-login">
            <h5>Don't have an account yet? <a href="/signup">Sign Up</a></h5>
        </div>
    </div>

    <script>
        const loginForm = document.getElementById('login-form');

        // Handle login form submission
        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const username = document.getElementById('login-username').value;
            const password = document.getElementById('login-password').value;

            fetch('/api/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username, password })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = data.redirect;  // Redirect to /chats route
                    } else {
                        document.getElementById('login-error-message').innerText = data.message;
                    }
                })
                .catch(error => console.error(error));
        });
    </script>
</body>

</html>