<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form id="register-form">
            <input type="text" id="register-username" name="username" placeholder="Username" required>

            <input type="password" id="register-password" name="password" placeholder="Password" required>

            <button type="submit">Register</button>
        </form>
        <p id="register-error-message" class="error-message"></p>
        <div class="switch-to-login">
            <h5>Already signed up? <a href="/">Log In</a></h5>
        </div>
    </div>

    <script>
        const registerForm = document.getElementById('register-form');

        // Handle register form submission
        registerForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const username = document.getElementById('register-username').value;
            const password = document.getElementById('register-password').value;

            fetch('/api/v1/users', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username, password })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Registration successful! Please log in.");
                        registerForm.reset();  // Clear the form
                    } else {
                        document.getElementById('register-error-message').innerText = data.message;
                    }
                })
                .catch(error => console.error(error));
        });
    </script>
</body>

</html>